.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url("assets/campus-shot.jpeg");

  height: 2000px;
  width: 100%;
  /* height: 90%;
  width: 100%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 100px;
  font-family: 'Staatliches', cursive;
}


.intro {
  /* margin-left: 200px;
  margin-right: 200px; */
  padding-left: 200px;
  padding-right: 200px;
}

.intro img {
  width: 90%;
  height: 60%;
}

.why-behind-whiteness {
  padding-left: 200px;
  padding-right: 200px;
}

.why-behind-whiteness img{
  width: 90%;
  height: 60%;
}