.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url("assets/campus-shot.jpeg");

  height: 1000px;
  width: 100%;
  /* height: 90%;
  width: 100%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 100px;
  font-family: 'Helvetica', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.intro {
  /* margin-left: 200px;
  margin-right: 200px; */
  padding-left: 200px;
  padding-right: 200px;
}

.intro img {
  width: 90%;
  height: 60%;
}

.why-behind-whiteness {
  padding-left: 200px;
  padding-right: 200px;
}

.why-behind-whiteness img{
  width: 70%;
  height: 45%;
  padding-left: 40px;
}

body {
  background-color: WhiteSmoke;
}



.axis path,
.axis line {
                fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
                display: none;
}

#bar-tooltip {
    
    position: fixed;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;



}

#bar-tooltip.hidden {
    display: none;
}


.student-experiences {
  padding-left: 200px;
  padding-right: 200px;
}

.student-experiences img{
  width: 70%;
  height: 45%;
  padding-left: 40px;
}

.whats-next {
  padding-left: 200px;
  padding-right: 200px;
}

.whats-next img{
  width: 70%;
  height: 45%;
  padding-left: 40px;
}

.bc-perspective {
  padding-left: 200px;
  padding-right: 200px;
}